<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/App.css"></link>    
    <title>Expenses Manager</title>
  </head>

  <body>
    <h1>Expenses Manager</h1>
    <div id="root"></div>

   <script src="bundle.js"></script>
  </body>
</html>
